form {
    margin-top: 40px;
    width: 70%;
    /* border: black solid 1px; */
    display: flex;
    justify-content: space-between;
}

input {
    height: 1.5rem;
    background-color: #EBEFFB;
    border: none;
    border-bottom: #446888 dashed 3px;
    padding: 5px;
}